@charset "URF-8";

@font-face{
    font-family: 'Passion';
    src: url('fontes/PassionOne-Bold.ttf');
}
@font-face {
    font-family: 'Sriracha';
    src: url('fontes/Sriracha-Regular.ttf');
}
 :root{
     --font-01: 'Passion';
     --font-02: 'Sriracha';
 }
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
header > h1{
    font-family: var(--font-01);
    font-size: 90px;
}
header > p{
    font-family: Verdana;
    font-size: 20px;
}
header  a{
    color: white;
    text-decoration: none;
}
section{
    margin: 75px 10px;   
    font-family: var(--font-02);
    font-size: 45px;
}
#img1{
    background:black url(imagens/background001.jpg) center fixed;
    background-size: 100%vh;
    background-repeat: no-repeat;
    color: white;
}
#img2{
    background: black url(imagens/background002.jpg) center fixed;
    background-size: 100%vh;
    background-repeat: no-repeat;
    color: white;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
footer  a{
    color: white;
    text-decoration: none;
}